<div class="container mt-2 px-2">
    <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <h1 class="display-4">Actividades Académicas</h1>
            <p class="lead">Constancia de Alumnos.</p>
            <p class="lead">Listado de alumnos para imprimir constancia, seleccione el alumno para imprimir.
            </p> 
          </div>
        </div>
      </div>
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="container-fluid">
            <div class="row height d-flex align-items-center">
                <div class="search">
                    <div class="col-md-8">
                        <form class="d-flex">
                            <i class="fa fa-search"></i>
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-8">
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtros
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown">
                    <li><a class="dropdown-item" href="#">ELECTRONICA</a></li>
                    <li><a class="dropdown-item" href="#">GESTION EMPRESARIAL</a></li>
                    <li><a class="dropdown-item" href="#">TIC'S</a></li>
                    <li><a class="dropdown-item" href="#">QUIMICA</a></li>
                    <li><a class="dropdown-item" href="#">ACUICULTURA</a></li>
                </ul>
            </div>
        </div> 
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <thead class="thead-primary">
                <tr> <!--class="bg-light"-->
                <!-- <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th> -->
                <th scope="col" width="10%">No.Control</th>
                <th scope="col" width="25%">Nombre</th>
                <th scope="col" width="10%">Evaluacion</th>
                <th scope="col" width="30%">Actividad academica</th>
                <th scope="col" width="5%">Imprimir</th>
                <!-- <th scope="col" class="text-end" width="20%"><span>Revenue</span></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of solicitudes; index as i;">
                <!-- <th scope="row"><input class="form-check-input" type="checkbox"></th> -->
               <td>{{solicitud.no_control}}</td>
                <td>{{solicitud.alumno}}</td>
                <td *ngIf="solicitud.status == 1"><i class="fa fa-check-circle-o green"></i><span class="ms-1 green">Acreditado</span></td>
                <td *ngIf="solicitud.status == 0"><i class="fa fa-times-circle-o text-danger"></i><span class="ms-1 text-danger">No Acreditado</span></td>
                <td>{{solicitud.act_especifica}}</td>
                <td *ngIf="solicitud.valor_numerico >= 1">
                    <button class="btn btn-outline-success">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                </td>
                <td *ngIf="solicitud.valor_numerico == 0">
                    <i aria-hidden="true">No file</i>
                </td>
                </tr>
            </tbody>
        </table>
        <div class="example">
            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                <a class="page-link">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">Next</a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</div>