<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="body">
  
    <!-- Footer -->
    <footer class="text-white">
        <!-- Grid container -->
        <div class="container">
        <hr class="my-5" />
        <div class="row">
            <div class="col-sm-4 col-lg-4">
                <div class="widget">
                    <h4>Visítanos</h4>
                    <address>
                    <strong> <i class="bi bi-geo-alt-fill"></i> ITSAL</strong><br>
                        Carretera a San Antonio Monterrey KM. 1.7<br>
                         Salina Cruz, Oaxaca, México C.P. 70701</address>
                    <p>
                        <i class="bi bi-telephone-fill"></i> Teléfono: (971) 716 32 42.<br>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="useful-link">
                    <div class="use-links">
                    <h4>Sitios de interés</h4>
                    <ul >
                        <li><a href="https://www.salinacruz.tecnm.mx/" target="_blank">ITSAL</a></li>
                        <li><a href="https://www.salinacruz.tecnm.mx/servicios-escolares/" target="_blank">Servicios Escolares</a></li>
                        <li><a href="https://www.salinacruz.tecnm.mx/div-est-profesionales/" target="_blank">Division de estudios</a></li>
                    </ul>
                </div>
                </div>
                
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="social-links">
                    <h4>Contactos</h4>
                    <div class="social-icons">
                        <li><a href="https://www.facebook.com/TecNMSalinaCruz" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.salinacruz.tecnm.mx/" target="_blank" ><i class="bi bi-globe"></i>Página Oficial</a></li>
                        <li><a ><i class="bi bi-envelope-at-fill"></i>cc_salinacruz@tecnm.mx</a></li>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section: Text -->
        <!-- <section class="mb-5">
            <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
                </p>
            </div>
            </div>
        </section> -->
        <!-- Section: Text -->

        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div
            class="text-center text-white p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
            >
        © 2020 Copyright:
        <a class="text-white" href="https://www.salinacruz.tecnm.mx/"
            >salinacruz.tecnm.mx</a
            >
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>
