<div class="container mt-md-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-auto mb-md-3">
         <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades para la ciudadanía activa y la responsabilidad social:
              Banda de Guerra - Escolta
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
      </div>
     <div class="col-md-auto mb-md-3">
      <div class="card h-100" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Actividad extraescolar</h5>
          <p class="card-text">
            Actividades  para  la apreciación de las artes y la diversidad cultura:
            Taller de danza
          </p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-outline-primary">Inscribirse</a>
          </div>
        </div>
      </div>
     </div>
     <div class="col-md-auto mb-md-3">
      <div class="card h-100" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Actividad extraescolar</h5>
          <p class="card-text">
            Actividades para la ciudadanía activa y la responsabilidad social:
            Desarrollo sustentable.
          </p>
        </div>
        <div class="card-footer">
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="#" class="btn btn-outline-primary">Inscribirse</a>
          </div>
        </div>
      </div>
     </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades  para  la salud y la prevención: Taller Karete Do
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades  para  la salud y la prevención: Taller Voleibol
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades  para  la apreciación de las artes y la diversidad cultura:
              Taller de Bricolaje, manualidades y artesanias.
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades  para  la apreciación de las artes y la diversidad cultura:
              Taller de Apreciación cinematográfica
            </p>
          </div>
           <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
              Actividades  para  la salud y la prevención: Taller de Aerobics
            </p>
          </div>
           <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-auto mb-md-3">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center">Actividad extraescolar</h5>
            <p class="card-text">
               Actividades  para  la apreciación de las artes y la diversidad cultura:
              Club de lectura.
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="#" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
