<div class="container mt-md-5">
  <div class="container-fluid">
    <div *ngIf="!bandera" class="row">
      <div *ngFor="let actcoordinada of actCoordinadas; index as i;" class="col-md-auto mb-md-3">
          <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>{{actcoordinada.act_gnral}}</strong></h5>
            <p class="card-text">
              {{actcoordinada.act_especifica}}
            </p>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto">
              <a (click)="crearSolicitud(actcoordinada)" class="btn btn-outline-primary">Inscribirse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="bandera" class="row">
        <div class="col-md-auto my-3" >
          <h4>Ya te encuentras registrado a una actividad extraescolar!</h4>
        </div>
    </div>
  </div>
</div>
