<header class="body" >
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="container-fluid">
            <a class="navbar-brand">
              <br>
              <img src="assets/logos/tecnm.png" class="img-fluid" width="200" height="200"alt="">
            </a>
          </div>
          
        </div>
        <div class="col-md-8">
          <div class="container-fluid">
            <div class="texto">
              <br>
              <h4>INSTITUTO TECNOLÓGICO DE SALINA CRUZ</h4>
              <p>SISTEMA DE EVIDENCIAS DE ACTIVIDADES COMPLEMENTARIAS</p>
              <br>
           </div>
          </div> 
        </div>
        <div class="col">
          <div class="container-fluid">
            <a class="navbar-brand">
              <br>
              <img src="assets/logos/itsal.png" class="img-fluid" width="80" height="80"alt="">
            </a>
          </div>
          <br>
        </div>
      </div>
    </div>
    <!--
      <div class="texto">
      <h3>
        <img src="assets/2png.png" width="15%"  alt="" />
        INSTITUTO TECNOLOGICO DE SALINA CRUZ
        <img src="assets/1png.png" width="7%" alt="" />
        <h4>SISTEMA DE EVIDENCIAS DE ACTIVIDADES COMPLEMENTARIAS</h4>
      </h3>
    </div>
    -->
    
</header>