
<div class="container">
      <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <h1 class="display-4">Actividades Extraescolares.</h1>
            <!-- <p class="lead">Registros de Actividades Extraescolares.</p> -->
            <p class="lead">Listado de actividades extraescolares.</p>
            <!-- <p class="lead">Listado de actividades extraescolares registrados, crear un <a href="https://unsplash.com" class="text-reset"> nuevo </a>registro.</p>  -->
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col">
              <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row justify-content-between">
                        <div class="col-md-10">
                            <h3>Registros de actividad extraescolares</h3>
                        </div>
                    </div>
                </div>
                <!--cuerpo de Card-->
                <div class="card-body">
                  <p class="card-text">Todos los registros son admitidos por el comite Academico y la division de estudios.</p>
                  <!-- <div class="row">
                    <div class="col-md-5">
                      <div class="input-group">
                        <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="Buscar ..." id="example-search-input">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border-bottom-0 border rounded-pill ms-n5" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                      </div>
                      <br>
                    </div>
                  </div> -->
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-primary">
                        <tr>
                          <th >Actividad General</th>
                          <th >Credito</th>
                          <th >Tiempo</th>
                          <th >Actividad Especifica </th>
                          <th>Numero de participantes</th>
                          <!-- <th >Departamneto Responsable</th> -->
                          <th >Ajustes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let complementaria of complementarias;">
                          <th scope="row">
                            {{complementaria.act_gnral}}
                          </th>
                          <td>
                            {{complementaria.credito}}
                          </td>
                          <td>
                            {{complementaria.tiempo}}
                          </td>
                          <td>
                            {{complementaria.act_especifica}}
                          </td>
                          <td>
                            {{complementaria.num_participantes}}
                          </td>
                          <td >
                            <button class="btn btn-outline-success">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                              </svg>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Footer de card hay que modificarlo-->
                <div class="card-footer py-4">
                  <nav>
                  <ul class="pagination justify-content-end mb-0">
                      <li class="page-item">
                        <button class="page-link" [disabled]="!anterior" (click)="cambiarPagina(-1)" tabindex="-1">
                          <i class="bi bi-arrow-left"></i>
                        </button>
                      </li>
                      <li *ngFor="let num of numSequence(totalPaginas); index as i" [class.active]="paginaActual-1 === i"  class="page-item">
                        <a class="page-link" (click)="obtenerActComplementarias(i+1)">{{i+1}}</a>
                      </li>
                      <li class="page-item">
                         <button class="page-link" [disabled]="siguiente" (click)="cambiarPagina(+1)">
                           <i class="bi bi-arrow-right"></i>
                          </button>
                      </li>
                  </ul>
                  </nav>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>