<div class="container mt-5">
  <div class="container-fluid">
  <!-- <h1 class="text-center">Mi perfil</h1> -->
</div>
<div class="row">
  <div class="col-sm-6 offset-3">
    <div class="card">
      <div class="card-header">
        Cambiar contraseña
      </div>
      <div class="card-body">
        <form action="" method="POST">
          <input type="hidden" name="id" value="">
          <div class="mb-3">
            <label for="a_paterno" class="form-label" ><h6>Nueva contrseña</h6></label>
            <input type="password" id="nuevaClave" formControlName="a_paterno" class="form-control mayuscula" autocomplete="off" required>
          </div>
          <div class="mb-3">
            <label for="a_materno" class="form-label" ><h6>Repetir Contraseña</h6></label>
            <input type="password" id="repetirClave" formControlName="a_materno" class="form-control mayuscula" autocomplete="off" required>
          </div>
         <div class="col text-center">
            <button type="submit" name="editar" class="btn btn-success justify-content-center">
            <i class="bi bi-person-bounding-box"></i>&nbsp;&nbsp;
            Actualizar mi informacion
          </button>
         </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
</div>