<div class="container mt-5">
  <div class="container-fluid">
  <!-- <h1 class="text-center">Mi perfil</h1> -->
</div>
<div class="row">
  <div class="col-sm-6 offset-3">
    <div class="card">
      <div class="card-header">
        Cambiar contraseña
      </div>
      <div class="card-body">
        <form [formGroup]="formulario" novalidate>
            <!--<input type="hidden" name="id" value=""> -->
          <div class="mb-3">
            <label for="a_paterno" class="form-label" ><h6>Nueva contraseña</h6></label>
            <input type="password" id="nuevaClave" formControlName="nueva_contrasena" name="nueva_contrasena" class="form-control" autocomplete="off" required>
          </div>
          <div class="mb-3">
            <label for="a_materno" class="form-label" ><h6>Repetir Contraseña</h6></label>
            <input type="password" id="repetirClave" formControlName="confirmar_contrasena" name="confirmar_contrasena" class="form-control" autocomplete="off" required>
          </div>
          <div class="col text-center">
            <button (click)="actualizar()" class="btn btn-primary justify-content-center">
            <i class="bi bi-person-bounding-box"></i>&nbsp;&nbsp;
            Actualizar mi información
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>