<div class="container mt-2 px-2">
    <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <h1 class="display-4">Actividades Extraescolares</h1>
            <p class="lead">Coordinadores que se encargaran de dirigir dicha actividad academica.</p>
            <p class="lead">Listado de coordinadores registrados, crear un <a data-bs-toggle="modal" data-bs-target="#Registro" class="text-reset">nuevo</a> registro.</p> 
          </div>
        </div>
      </div>
    <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="container-fluid">
            <div class="row height d-flex align-items-center">
                <div class="search">
                    <div class="col-md-8">
                        <form class="d-flex">
                            <i class="fa fa-search"></i>
                            <input class="form-control me-2" type="search" placeholder="Buscar por su nombre del coordinador" aria-label="Search" (keyup)="buscarcoordinador(txtBuscar.value)" #txtBuscar>
                           <!-- / <button class="btn btn-outline-success" type="submit">Buscar</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-responsive table-borderless">
            <thead class="thead-primary">
                <tr> <!--class="bg-light"-->
                <!-- <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th> -->
                <th scope="col" width="40%">Actividad Complementaria</th>
                <th scope="col" width="10%">Estado</th>
                <th scope="col" width="35%">Coordinador</th>
                <th scope="col" width="15%">Ajustes</th>
                <!-- <th scope="col" class="text-end" width="20%"><span>Revenue</span></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actCordinada of actividadesCoordinadas; index as i;">
                <!-- <th scope="row"><input class="form-check-input" type="checkbox"></th> -->
                <td>{{actCordinada.act_especifica}}</td>
                <td *ngIf="actCordinada.status == 1"><i class="green"></i><span class="ms-1 green">ACTIVO</span></td>
              <td *ngIf="actCordinada.status == 0"><i class="text-danger"></i><span class="ms-1 text-danger">INACTIVO</span></td>
                <td>{{actCordinada.coordinador}}</td>
                 <td>  
                <button class="btn btn-outline-success" (click)="obtenerActividadCoordinada2(actCordinada)"   data-bs-toggle="modal" data-bs-target="#Ver" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                </button> 
                <span>&nbsp;</span>
                <button class="btn btn-outline-warning" (click)="obtenerActividadCoordinada(actCordinada)"  data-bs-toggle="modal" data-bs-target="#Editar"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
                <span>&nbsp;</span>
                <button class="btn btn-outline-danger" (click)="EliminarConfirmation(actCordinada)">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                 </button>
              </td>
                </tr>
            </tbody>
        </table>
       <div *ngIf="txtBuscar.value.length === 0" class="card-footer py-4">
            <nav>
            <ul class="pagination justify-content-end mb-0">
                <li class="page-item">
                  <button class="page-link" [disabled]="!anterior" (click)="cambiarPagina(-1)" tabindex="-1">
                    Atras
                  </button>
                </li>
                <li *ngFor="let num of numSequence(totalPaginas); index as i" [class.active]="paginaActual-1 === i"  class="page-item">
                  <a class="page-link" (click)=" obtenerActividadesCoordinadas(i+1)">{{i+1}}</a>
                </li>
                <li class="page-item">
                  <button class="page-link" [disabled]="siguiente" (click)="cambiarPagina(+1)">Siguiente</button>
                </li>
            </ul>
            </nav>
      </div>
    </div>
</div>
<!--Creaar actividad coordinada-->
<div class="modal fade" id="Registro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Crear un registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="limpiarControls()" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form [formGroup]="formulario" novalidate>
          <div class="p-4">
              <div class="row">
                <div class="col-sm-12">
                    <div class="mb-4">
                        <label for="act_complementaria" class="form-label"><h6>Actividad Academica</h6></label>
                        <select class="form-select mb-3" formControlName="act_complementaria" name="act_complementaria">
                          <option value="" disabled>Seleccione la actividad complementaria..</option>
                          <option *ngFor="let actcomplementaria of complementarias" [ngValue]="actcomplementaria.id">{{actcomplementaria.act_especifica}}</option>
                        </select>
                    </div>
                </div>
                  <div class="col-sm-12">
                    <div class="mb-4">
                        <label for="coordinador" class="form-label"><h6>Coordinador</h6></label>
                        <select class="form-select mb-3" formControlName="coordinador" name="coordinador">
                          <option value="" disabled>Seleccione el coordinador..</option>
                          <option *ngFor="let coordinador of coordinadores" [ngValue]="coordinador.rfc">{{coordinador.nombre_completo}}</option>
                        </select>
                    </div>
                </div>
                </div> 
                <div class="row">
                  <div class="col-sm-6">
                      <label for="status" class="form-label"><h6>Estado</h6></label>
                      <select class="form-select mb-3" formControlName="status" name="status" aria-label="Estado" >
                          <option disabled value="" >Seleccione el Estado...</option>
                          <option class="form-control mayuscula text-danger"  value='0'>Inactivo</option>
                          <option class="form-control mayuscula text-success" value='1'>Activo</option>
                      </select>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary"(click)="limpiarControls()" data-bs-dismiss="modal">Cancelar</button>
          <button  class="btn btn-primary" data-bs-dismiss="modal" (click)="crearActComplementarias()">Guardar</button>
        </div>
      </form>
      </div>  
    </div>
  </div>
</div> 
<!--editar actividad coordinada-->
<div class="modal fade" id="Editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar el registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="limpiarControls()" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form [formGroup]="formulario" novalidate>
          <div class="p-4">
              <div class="row">
                <div class="col-sm-12">
                    <div class="mb-4">
                        <label for="act_complementaria" class="form-label"><h6>Actividad Academica</h6></label>
                        <select class="form-select mb-3" formControlName="act_complementaria" name="act_complementaria">
                          <option value="" disabled>Seleccione la actividad complementaria..</option>
                          <option *ngFor="let actcomplementaria of complementarias" [ngValue]="actcomplementaria.id">{{actcomplementaria.act_especifica}}</option>
                        </select>
                    </div>
                </div>
                  <div class="col-sm-12">
                    <div class="mb-4">
                        <label for="coordinador" class="form-label"><h6>Coordinador</h6></label>
                        <select class="form-select mb-3" formControlName="coordinador" name="coordinador">
                          <option value="" disabled>Seleccione el coordinador..</option>
                          <option *ngFor="let coordinador of coordinadores" [ngValue]="coordinador.rfc">{{coordinador.nombre_completo}}</option>
                        </select>
                    </div>
                </div>
                </div> 
                <div class="row">
                  <div class="col-sm-6">
                      <label for="status" class="form-label"><h6>Estado</h6></label>
                      <select class="form-select mb-3" formControlName="status" name="status" aria-label="Estado" >
                          <option disabled value="" >Seleccione el Estado...</option>
                          <option class="form-control mayuscula text-danger"  value='0'>Inactivo</option>
                          <option class="form-control mayuscula text-success" value='1'>Activo</option>
                      </select>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary"(click)="limpiarControls()" data-bs-dismiss="modal">Cancelar</button>
          <button  class="btn btn-primary" data-bs-dismiss="modal" (click)="editarActComplementarias()">Guardar</button>
        </div>
      </form>
      </div>  
    </div>
  </div>
</div> 
<!--ver actividad coordinada-->
<div class="modal fade" id="Ver" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Ver la actividad coordinada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="limpiarControls()" aria-label="Close"></button>
      </div>
        <div class="modal-body">
        <div class="app-card-body p-3 p-lg-4">
            <h3 class="mb-3">{{actCoordinada2.act_gnral}}</h3>
            <div class="row gx-5 gy-3">
                <div class="col-12 col-lg-12">
                    <h5 class="card-title">{{actCoordinada2.act_especifica}}</h5>
                </div>
                <div class="col-12 col-lg-9">
                    <label  class="form-label">Lugar: {{actCoordinada2.lugar}}</label> 
                </div>
                <div class="col-12 col-lg-9">
                    <label  class="form-label">Coordinador: {{actCoordinada2.coordinador}}</label> 
                </div>
                <div class="col-12 col-lg-4">
                    <label  class="form-label">Numero de participantes: {{actCoordinada2.num_participantes}}</label> 
                </div>
                <div class="col-6 col-lg-3">
                    <label  class="form-label">Duracion: {{actCoordinada2.tiempo}}</label> 
                </div>
                <div class="col-6 col-lg-3">
                    <label *ngIf="actCoordinada2.credito == '1'" class="form-label">Credito: ⭐</label> 
                    <label *ngIf="actCoordinada2.credito == '2'" class="form-label">Credito: ⭐⭐</label> 
                    <label *ngIf="actCoordinada2.credito == '3'" class="form-label">Credito: ⭐⭐⭐</label> 
                    <label *ngIf="actCoordinada2.credito == '4'" class="form-label">Credito: ⭐⭐⭐⭐</label> 
                    <label *ngIf="actCoordinada2.credito == '5'" class="form-label">Credito: ⭐⭐⭐⭐⭐</label> 
                </div>
                <div class="col-12">
                <label class="form-label d-flex justify-content-center">Evidencias Comprobatorias</label> 
                <ul class="mt-2">
                  <li *ngFor="let evdcom of evdCompro" class="p-2 mb-2">
                    <div class="d-flex flex-column">
                      <p class="text-sm">{{evdcom.evd_pres_des}}</p>
                    </div>
                  </li>  
                </ul>
                </div>
            </div>
        </div>
      </div>  
    </div>
  </div>
</div> 